@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.neumorphic {
  background-color: inherit;
  border: none;
  font-family: 'Poppins', sans-serif;
  color: #8A92A5;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2),
              -3px -3px 5px rgba(255, 255, 255, .3);
  outline: none;
  margin: 5px;

  &__is-active {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, .2),
                inset -3px -3px 5px rgba(255, 255, 255, .3);
  }

  &__button {
    &:active {
      @extend .neumorphic__is-active;
    }
  }

  &__button-round {
    border-radius: 50%;
  }

  &__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    @extend .neumorphic__is-active;
  }

  &__search-input {
    border: none;
    background-color: transparent;
    margin: 0 0 0 5px;
    font-family: inherit;
    outline: none;
    color: inherit;
  }
}
